* {
    box-sizing: border-box;
}

.container {
    width: 75%;
    height: 65vh;
    margin: 0 auto;
}

.boxes {
    border: 1px solid black;
    width: 400px;
    height: 600px;
    margin: 0 auto;
}

.boxes > div {
    height: 200px;
    width: 200px;
    background-color: grey;
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}

.first {
    margin: auto;
    border-radius: 50%;
}

.second {
    margin: auto;
    border-radius: 50%;
}

.third {
    margin: auto;
    border-radius: 50%;
}